body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
#nearby{
    z-index: 1;
    bottom: 0;
    position: absolute;
    height: 25%;
    width: 100%;
    background-color: #000000;
    box-shadow: 0px 30px 10px;
    font-family: "Helvetica";
    color: #FFFFFF;
    font-size: 1.5em;
}
.nearby-station{
    margin-top: 10px;
    height: 100%;
    width: 25%;
    background-color: #FeFeFe;
    border-radius: 1%;
    color: black;
    font-size: .8em;
    text-align: center;
}
h3{
    margin: 0;
    padding-left: 3px;
}
.bar{
      height: 5px;
      width: 100%;
      position: absolute;
      background-color: white;
}
.bar-black{
      height: 5px;
      width: 100%;
      position: absolute;
      background-color: black;
}
#usrloc {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #59ABE3;

    border-style: solid;
    border-color: rgba(228, 241, 254, 0.15);
    border-width: 15px;
    border-color: rgba(228, 241, 254, .75);
    opacity: .65;
}

.button {
    margin: 0px auto;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 3px;
    border-style: none;
    font-size: 30px;
    text-align: center;
    background: #fefefe;
    box-shadow: 2px 2px 2px #d3d3d3;
}

#returnhome {
        position: absolute;
        top: 25px;
        right: 25px;
        color: #89C4F4;
}

#help {
        position: absolute;
        top: 95px;
        right: 25px;
        color: #F7CA18;
}

.stop {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    color: white;
    font-size: 1em;
    text-align: center;
}

.radius {
    opacity: .1;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin-left: -240px;
    margin-top: -240px;
    -webkit-transition: width .5s, height .5s margin-left .5s margin-top .5s;
    transition: width .5s, height .5s margin-left .5s margin-top .5s;
}
.one {
    background-color: #EE352E;
}

.two {
    background-color: #EE352E;
}

.tree {
    background-color: #EE352E;
}

.four {
    background-color: #00933C;
}

.five {
    background-color: #00933C;
}

.six {
    background-color: #00933C;
}

.N {
    background-color: #FCCC0A;
}

.Q {
    background-color: #FCCC0A;
}

.R {
    background-color: #FCCC0A;
}

.A {
    background-color: #0039A6;
}

.C {
    background-color: #0039A6;
}

.E {
    background-color: #0039A6;
}

.B {
    background-color: #FF6319;
}

.D {
    background-color: #FF6319;
}

.F {
    background-color: #FF6319;
}

.M {
    background-color: #FF6319;
}

.G {
    background-color: #6CBE45;
}

.J {
    background-color: #996633;
}

.Z {
    background-color: #996633;
}

.L {
    background-color: #A7A9AC;
}

.S {
    background-color: #808183;
}

.seven {
    background-color: #B933AD;
}
